#reviews-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

#add-review-container{
    min-height: 30vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: flex-start;
    box-sizing: border-box;
    padding-left: 1em;
    align-items: flex-start;
}

#review-input{
    width: 100%;
    min-height: 15em;
    border-radius: 30px;
    border: 2px solid rgba(0, 0, 0, 0.1);
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    font-size: 1em;
}

#review-input:focus,
#name-input:focus{
    outline: none;
    border: 2px solid rgba(0, 0, 0, 0.1);
}

#name-input{
    width: 100%;
    height: 3em;
    border-radius: 30px;
    border: 2px solid rgba(0, 0, 0, 0.1);
    padding-left: 1em;
}

#send-review-bttn{
    height: 5%;
    width: 6%;
    font-size: 1em;
    padding: .5em;
    border-radius: 30px;
    background-color: black;
    color: white;
    font-weight: 500;
    cursor: pointer;
}

#send-review-bttn:hover{
    opacity: 0.7;
    transition: all .3s ease-in-out;
    background-color: rgba(0, 0, 0, 0.8);
}