#basket-widget-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: -118%;

    z-index: 1000;
    
}

.basket-widget-container-active{
    left: 0 !important;
}

#basket-widget-shadow {
    width: 100%;
    height: 100%;
    z-index: 1001;
    position: absolute;
    background-color: transparent;
}



#basket-widget {
    width: 18%;
    height: 100%;
    position: absolute;
    right: -18%;
    top: 0;
    background-color: white;
    z-index: 1001;
    transition: all .3s ease-in-out;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}

.basket-widget-active{
    right: 0 !important;
    transition: all .3s ease-in-out;
    
}

.basket-widget-shadow-active{
    background-color: rgba(0, 0, 0, 0.7) !important;
    transition: all .3s ease-in-out;
}

#basket-widget-nav{
    width: 100%;
    height: 6%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    padding: 1em;
    box-sizing: border-box;
    align-items: center;
}

#basket-widget-nav>span{
    font-size: 1.2em;
    width: 80%;
    text-align: left;
    height: 100%;
    display: flex;
    align-items: center;
}

#close-basket-widget-bttn{
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

#close-basket-widget-bttn:hover{
    opacity: 0.5;
    
}

#close-icon{
    height: 100%;
    aspect-ratio: 1;
    /* background-color: black; */
    background-image: url(../../../../../public/cross-image.png);
    background-size: 40%;
    background-position: center center;
    background-repeat: no-repeat;
}

#close-basket-widget-bttn>span{
    font-size: .9em;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}

#basket-widget-sumup{
    margin-bottom: 0;
    margin-top: auto;
    height: 15%;
    /* background-color: black; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: .5em;
    padding-bottom: 1em;
    /* box-sizing: border-box; */
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding-top: .5em;
}

#basket-widget-sumup-price{
    height: auto;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.3em;


}

.basket-widget-bttn{
    width: 90%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-size: .8em !important;
    font-weight: 600;
}

#see-basket-bttn{
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 25px;
    cursor: pointer;
}

#order-bttn{
    background-color: black;
    color: white;
    cursor: pointer;
    border-radius: 25px;
}