#basket-container{
    min-height: 50vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-top: 4em;
    gap: 5%;
}

#basket-products-container{
    width: 65%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#basket-labels{
    height: 4vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    font-size: 1.1em;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

#basket-label-1{
    width: 60%;
    text-align: left;
    padding-left: 20%;
    box-sizing: border-box;
}

#basket-label-2,
#basket-label-4{
    width: 10%;
    text-align: left;
}

#basket-label-3{
    width: 20%;
    text-align: left;
    box-sizing: border-box;
}

#basket-sumup-container{
    width: 30%;
    height: 50vh;
    border: 3px solid rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    padding-left: 1em;
    padding-top: 1.5em;
    padding-right: 1em;
    box-sizing: border-box;
    align-items: center;
}

#basket-sumup-label{
    width: 90%;
    text-align: left;
    height: 10%;
    font-size: 1.3em;
}

#sumup-price,
#sumup-delivery,
#sumup-total,
#sumup-payment-bttn{
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#sumup-price{
    height: 10%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

#sumup-total{
    width: 90%;
    height: 15%;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    font-size: 1.2em;
}

#sumup-delivery{
    width: 90%;
    height: 50%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-left: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

#payment-bttn{
    height: 9%;
    background-color: black;
    width: 90%;
    border-radius: 25px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-weight: 500;
    font-size: .9em;
    cursor: pointer;
}

#payment-bttn:hover{
    background-color: rgba(0, 0, 0, 0.6);
    transition: all .3s ease-in-out;
}