.display-image{
    height: 95%;
    aspect-ratio: 1;
    /*background-size: 90% 90%;*/
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    transition: all .3s ease-in-out;
    /*background-color: pink;*/
    /*margin-right: 1.5%;*/
    position: relative;
    z-index: 1;
}

.delete-image-bttn{
    position: absolute;
    top: 1vh;
    right: 1vw;
    background-image: url('../../../../../../../../../public/trash-icon.png');
    height: 10%;
    aspect-ratio: 1;
    z-index: 2;
    background-size: cover;
    background-position: center center;
    cursor: pointer;
    transition: all .1s ease-in-out;
}

.delete-image-bttn:hover{
    transform: scale(1.1);
}