.order-item-container{
    width: 95%;
    min-height: 10vh;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: .5em;
    padding-top: .5em;
}

.order-item-remove-bttn{
    height: 100%;
    width: 10%;
    background-image: url(../../../../../../public/cross-image.png);
    background-size: 15%;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
}

.order-item-image{
    width: 20%;
    height: 100%;
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center center;
}

.order-item-details{
    width: 55%;
    height: 100%;
    gap: .3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.order-item-price{
    height: 100%;
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(0, 0, 0, 0.5);

}

#order-item-quantity-selector{
    display: flex;
    flex-direction: row;
    height: 30%;
    width: 30%;
}