#images-manager {
    width: 100%;
    height: 100%;
    background: #a17c7c;
    display: flex;
    flex-direction: row;
    /*justify-content: center;*/
    align-items: center;
    scrollbar-width: auto; /* For Firefox */
    -ms-overflow-style: auto;
    overflow-x: auto;
    box-sizing: border-box;
    padding-left: 1em;
    gap: 1vw;
}

#images-manager::-webkit-scrollbar {
    display: block; /* For Chrome, Safari, and Opera */
    width: 6px; /* Width of the scrollbar */
    height: 12px;
}

#images-manager::-webkit-scrollbar-thumb {
    background: #888; /* Thumb (scroll indicator) color */
    border-radius: 10px; /* Optional: Rounded corners */
}

#images-manager::-webkit-scrollbar-thumb:hover {
    background: #555; /* Thumb color when hovered */
}