header {
    width: 100%;
    height: 10%;
    min-height: 9%;
    max-height: 9%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    position: relative;
    z-index: 999;

}


.header-bttn>span {
    height: 4em;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: .9em;
    border-bottom: 2px solid white;
    box-sizing: border-box;
    position: relative;
}

.bttn-underlined {
    border-bottom: 2px solid black !important;
    color: red;
}

.header-bttn>span:hover {
    box-sizing: border-box;

}


.header-bttn {
    cursor: pointer;
    transition: all .3s ease-in-out;


}

.header-bttn>span:after {
    content: '';
    display: block;
    margin: auto;
    height: 2px;
    width: 0px;
    background: transparent;
    transition: width .3s ease, background-color .5s ease;
    position: absolute;
    bottom: -2px;
}

.header-bttn>span:hover:after {
    width: 100%;
    background-color: black;
}

.header-bttn:hover {
    color: red;

}

#header-middle {
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#logo {
    width: 22%;
    font-size: 2em;
    text-transform: uppercase;
    font-weight: 500;
    text-align: left;
    cursor: pointer;
}



#browse-products-bttn,
#about-us-bttn,
#contact-bttn,
#login-bttn {

    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .8em;
}

#browse-products-bttn,
#about-us-bttn,
#contact-bttn {
    width: 13%;
}

#login-bttn {
    width: 17%;
}

#basket {
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    font-size: .8em;
    cursor: pointer;
    gap: 1em;
}

#basket-image {
    height: 1.7em;
    aspect-ratio: 1;
    background-image: url(../../../public/basket-icon.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
}

#basket-price-total {
    height: 1.5em;
    width: calc(100%-1.5em);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    line-height: 1;

}

#basket-items-amount {
    font-size: .8em;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    height: 1.5em;
    aspect-ratio: 1;
    position: absolute;
    background-color: rgba(255, 0, 0, 0.733);
    border-radius: 100%;
    top: -5px;
    right: -5px;
    color: white;
}